/* styles/globals.css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

html, body, #root {
  height: 100%;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background: #121212;
  color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
  font-weight: 700;
  font-size: 1rem;
  border: none;
  outline: none;
  background: none;
  color: inherit;
}
